
// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss'

.vh-100
  height: 100vh

.filter-nav
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-start

  > input
    margin: 5px
    width: 150px

  > div
    margin: 5px
    width: 150px

    &:first-child
      margin-left: 0

    &:last-child
      margin-right: 0
